<div class="container">
  <div class="row" style="max-height: 600px;">
    <div class="col-md">
      <mat-card>   
        <mat-card-header class="big-icons">
          <mat-icon mat-card-avatar>settings</mat-icon>
          <mat-card-title>Search</mat-card-title>
          <mat-card-subtitle>Settings</mat-card-subtitle> 
        </mat-card-header>

        <mat-card-content>
          <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="margin-form">
            <mat-form-field class="full-width">
              <input matInput formControlName="path" placeholder="Path">
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput formControlName="size" placeholder="Exact size of file in bytes">
            </mat-form-field>
            <div class="row margin-boxes">
              <mat-checkbox formControlName="isSearchIsSubDirectories">Search in subdirs?</mat-checkbox>
            </div>
            <div class="row margin-boxes">
              <mat-checkbox formControlName="hidden">Search hidden files?</mat-checkbox>
            </div>
            <div class="row margin-boxes">
              <mat-checkbox formControlName="readOnly">Search readOnly fiiles?</mat-checkbox>
            </div>
            <mat-form-field class="full-width">
              <input matInput formControlName="dateFrom" [matDatepicker]="dp" placeholder="Search from" [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="dp"></mat-datepicker-toggle>
              <mat-datepicker #dp></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input matInput formControlName="dateTo" [matDatepicker]="dp1" placeholder="Search to" [max]="maxDate">
              <mat-datepicker-toggle matSuffix [for]="dp1"></mat-datepicker-toggle>
              <mat-datepicker #dp1></mat-datepicker>
            </mat-form-field>

            <br/><br/>
            <mat-form-field class="full-width">
              <mat-label>Plugin</mat-label>
              <mat-select formControlName="plugin" (selectionChange)="onChangeSelectedPlugin($event.value)">
                <mat-option *ngFor="let plugin of plugins" [value]="plugin.type">
                  {{plugin.type}} -> {{plugin.fileType}}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="full-width" *ngIf="selectedPlugin()">
              <input matInput formControlName="parameterValue" placeholder="{{selectedPlugin().parameterName}}">
            </mat-form-field>
            <button mat-raised-button color="primary" [disabled]="!form.valid || isSearching" type="submit">START</button>
            <button mat-button type="button" [disabled]="!isSearching" (click)="onStopClick($event)">STOP</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md">
      <mat-card class="full-heigth card-with-results">
        <mat-card-header class="big-icons">
          <mat-icon mat-card-avatar>done</mat-icon>
          <mat-card-title>Results</mat-card-title>
        </mat-card-header>
        <div class="without-margins"> 
          <mat-progress-bar mode="indeterminate" *ngIf="isSearching"></mat-progress-bar>
        </div>
        <mat-card-content [style.overflow]="'auto'" [style.max-height.px]="'510'">
          <mat-list>
            <mat-list-item *ngFor="let file of files">{{file}}</mat-list-item>
          </mat-list>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>