/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.centered
{
    text-align-last: center;
}

.big-icons .mat-icon {
    font-size: 37px;
}

.full-width {
    width: 100%;
}

.margin-form{
    margin-left: 10px;
    margin-right: 10px;
}

.margin-boxes {
    margin-left: 0px;
    margin-right: 0px;
}

.full-heigth {
    height: 100%;
}

.without-margins {
    margin-left: -16px !important;
    margin-right: -16px !important;
}

.scrolled {
    overflow-y: scroll;
}

.card-with-results {
    max-width: 600px;
}